.papa {
  background-color: #fff;
  margin: auto;
  border-radius: 2px;
  display: inlineBlock;
  flex-wrap: wrap;
}

.label {
  padding: 1em;
}
.recharts-legend-item-text > span {
  color: #343a3f !important;
}
