.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}

.MuiPaper-elevation1 {
  box-shadow: none !important;
}
.MuiPaper-root {
  padding: 1rem;
}
