@import "~antd/dist/antd.css";

// pages
@import "./pages/Dashboard.scss";

// components
@import "./components/chart.scss";

// fonts
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

// vendor
@import "./vendor/animate.min.css";

html,
body,
#root {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
strong,
select,
a,
th,
td,
small,
embed {
  font-family: "Lato", sans-serif;
}

small {
  display: block;
}

button {
  display: block;
}
.box-shadow {
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transform: scale(1.01);
  }
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: auto;
  background: rgba(255, 255, 255, 0.2);
  margin: 7px 16px 16px;
  padding: 1rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
}
