@import "~antd/dist/antd.css";

// pages

// components
@import "./components/chart.scss";

// fonts
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
// vendor
@import "./vendor/animate.min.css";

html,
body,
#root {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
strong,
select,
a,
th,
td,
small,
embed {
  font-family: "Lato", sans-serif;
}

footer {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

small {
  display: block;
}

button {
  display: block;
}
.box-shadow {
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transform: scale(1.01);
  }
}
a {
  //   color: ${({ theme }) => theme.text};
}
